/* Globale Stileinstellungen für den <body> des Dokuments */
body {
  margin: 0; /* Setzt den Außenabstand (Margin) auf 0, um Standard-Browser-Styling zu entfernen */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', /* Auflistung von Schriftarten */
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Fallback auf generische sans-serif Schriftart, falls keine der anderen verfügbar ist */
  -webkit-font-smoothing: antialiased; /* Verbessert das Aussehen von Schriften auf Webkit-Browsern wie Chrome und Safari */
  -moz-osx-font-smoothing: grayscale; /* Verbessert das Aussehen von Schriften in Firefox auf macOS */
}

/* Stileinstellungen speziell für <code>-Elemente */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', /* Auflistung von monospaced Schriftarten */
    monospace; /* Fallback auf generische monospace Schriftart, falls keine der anderen verfügbar ist */
}
