
/* NAVBAR */

.nav {  /* gesamte Navbar */
  display: flex;
  align-items: center; /* Zentriert die Inhalte vertikal */
  background-color: rgb(4,7,18);
  height: 10vh;
  padding: 30px 0;
  width: 100%;
  border-bottom: 2px solid #494bc4e7; /* weißer horizontaler Strich */
  box-sizing: border-box;
}

.nav--title {  /* "visualize your flow" */
  color: #494bc4e7;
  font-weight: bolder;
  font-size: inherit;
  margin-right: 25px;
}

.modal-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.modal-close-button {
  background-color: #494bc4e7;
  color: rgb(94, 255, 0);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal-content {
  margin-top: 20px;
}

.nav--help-button {
  background-color: #494bc4e7;
  color: rgb(94, 255, 0);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: auto;
  cursor: pointer;
}

.nav--icon {  /* Logo */
  height: 100px;
  margin-right: 25px;
  margin-left: 25px;
}

/* LeftComponent */
.left-container {
  display:flex;
  flex-direction: column;
  align-items: right; /* aligns items right */
  justify-content: flex-start; 
  margin: 0;
  padding: 25px 25px; 
  min-height: 90vh;
  width: 33%;
  background-color: black;
  text-align: center;
  box-sizing: border-box;
  color:white

}

 /* Upload Box */
.text-box-button{   
  border: 1px solid #494bc4e7;
  align-self: auto;
  padding: 5px;  
  margin: 5px;  
  margin-bottom: 25px; 
  color: rgb(255, 255, 255);
  background-color: #000000e7;
  min-height: 2vh;
  width: 100%;
}
/* Free Space for further Usage STC */
.subUpload{
  background-color: aqua;
  color: blueviolet;
  align-self: baseline;
  min-height: 69vh;
  width: 100%;
}

.button-container{
  color: pink;
}

/* footer */
