/* Decorations for the editor */
.inactive {
    background-color: rgba(128, 0, 0, 0.6);
}

.active {
    background-color: rgba(0, 128, 0, 0.6);
}

.link {
    background-color: rgba(0, 0, 188, 0.6);
}

.loop {
    background-color: rgba(128, 0, 128, 0.6);
}

.start {
    content: url(../Images/start.png);
}

.line {
    content: url(../Images/line.png);
}

.end {
    content: url(../Images/end.png);
}

.one-line {
    content: url(../Images/oneLine.png);
}