/* Editor */
.content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  height: 90vh; /* Adjusted height to use viewport height */
}

.right-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  background-color: black;
  color: white;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scroll if content overflows */
}

.editor-container {
  flex: 1;
  width: 100%;
  min-height: 0; /* Allow the container to shrink when needed */
  box-sizing: border-box;
  box-shadow: 0 0 10px black;
  position: relative;
}




/* Popup, if element is clicked */
.popup {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-close-button {
  /* Style for the popup close button */
}

/* Other */

.my-loop-decoration {
  background-color: pink;
  opacity: 0.7;
}
.my-glyph-margin-class {
  width: 4px;
  background-color: pink;
  margin-left: 4px;
}
.for-loop-decoration {
  position: absolute;
  border-left: 4px solid pink;
  margin-left: -50px;
}
.if-statement-decoration {
  position: absolute;
  border-left: 4px solid rgb(12, 158, 85);
  margin-left: -45px;
}

.else-statement-decoration {
  position: absolute;
  border-left: 4px solid rgb(237, 235, 240);
  margin-left: -40px;
}

.while-loop-decoration {
  position: absolute;
  border-left: 4px solid rgb(203, 229, 8);
  margin-left: -35px;
}

.begin-line-highlight {
  background-color: rgba(245, 10, 10, 0.3);
}

.my-line-numbers {
  color: red !important;
}

.monaco-editor.token.keyword {
  color: #C792EA;
  font-weight: bold;
}

.monaco-editor.token.function {
  color: #C3E88D;
}

.monaco-editor.token.type {
  color: #FFCB6B;
}

.monaco-editor.token.identifier {
  color: #D6DEEB;
}

.monaco-editor.token.string {
  color: #C3E88D;
}

.monaco-editor.token.number {
  color: #F78C6C;
}

.monaco-editor.token.operator {
  color: #89DDFF;
}

.monaco-editor.token.annotation {
  color: #82AAFF;
}

.monaco-editor.token.regex {
  color: #ECC48D;
}

.monaco-editor.token.delimiter {
  color: #89DDFF;
}

.monaco-editor.token.invalid {
  background-color: #FF5370;
  color: #ffffff;
}

.monaco-editor .monaco-editor-hover {
  z-index: 1000;
  position: fixed;
  visibility: visible;
}

.monaco-editor-hover .monaco-editor-hover-content {
  background-color: white;
  color: black;
  border: 1px solid grey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

