/* Help Button Content */
.modal-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: black;
    color:  white;
    border-radius: 8px;
  }
  
  .modal-close-button {
    background-color: #ffc7b1e7 ;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal-content {
    margin-top: 20px;
  }

  .modal{

  }