.left-container {
    display: flex;
    flex-direction: column; /* Stacks the children vertically */
    align-items: stretch; 
    transition: width 0.3s ease;
    width: 280px;
    min-height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
    position: relative;
    border-right:2px solid #ffc7b1e7 ;
  }
  .left-container.collapsed {
    width: 10%; /* Width used to show only the button */
    background-color: rgb(31, 29, 29);;
    
  }
  
  .left-container button {
    position: sticky; /* Positions the button sticky */
    top: 0; /* Top of the Container */
    left: 0; /* Left of the Container */
    width: 100%; /* Button vertically uses the whole container */
    padding: 12px 0; /* Creates a bit of buffer space */
    cursor: pointer;
    background-color: rgb(31, 29, 29); /* Background color of button */
    color: white; /* Text color inside of button */
    border-color: #ffc7b1e7;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
  }
  /* Ensure that no other style component overrides the .left-container color and background */


  /* Style for the FolderTree, if necessary */
  .text-box {
    display: flex; /* Activate flexbox */
    justify-content: flex-end; /* Positions the content at the end of the main axis (right) */
    align-items: center; /* Centers the content along the cross axis (vertically) */
    width: 100%;
    border: 2px solid #ffc7b1e7;
    border-top-width: 0;
    padding: 10px;
    color: white;
    background-color: black;
  }
  
  .left--title {
    margin: 0;
    color: #61DAFB;
    font-size: 39px;
    letter-spacing: -0.05em;
  }
  
  .postCodeField {
    border: 1px solid #ffc7b1e7;
    margin: 50px;
    width: 80%;
    height: 400px;
    resize: both;
  }
  
  .upload-file-margin {
    margin-top: 80px;
  }
  
  .texthere {
    width: 100%;
    height: 200px;
    border: 1px solid #ffc7b1e7;
    background-color: rgb(4, 7, 18);
    text-align: left;
    line-height: 200px;
    color: white;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
  }
  
  .textFieldAfterCompletion {
    width: 490px;
    height: 300px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: auto;
    display: inline-block;
    position: relative;
    border: 1px solid #ffc7b1e7;
    background-color: rgb(4, 7, 18);
    text-align: left;
    color: white;
  }
  
  .highlightedContent {
    white-space: pre-wrap;
  }
  
  
  .output-box {
    border: 1px solid #ffc7b1e7;
    padding: 10px 40px;
    margin: 10px;
    color: white;
    background-color: rgb(4, 7, 18);
  }
  
  .upload-button-container {
    width: 100% ;
    color: pink;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns the content vertically */
    align-items: center; /* Aligns the content horizontally */
    padding-right: 20px;
    
   
  }

.reset-button-container {
  width: 100% ;
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns the content vertically */
  align-items: center; /* Aligns the content horizontally */
  padding-right: 20px;

}

.picker {
  margin-right: 20px; /* Create buffer distance to the right */
}
  
.folder-tree-container {
  margin-top: 1px; /* Create buffer distance to the top */
  width : 100%;
}