.left-container {
    display: flex;
    flex-direction: column; /* Stapelt die Kinder vertikal */
    align-items: stretch; 
    transition: width 0.3s ease;
    width: 280px;
    min-height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
    position: relative;
    border-right:2px solid #ffc7b1e7 ;
  }
  .left-container.collapsed {
    width: 10%; /* Breite, um nur den Button zu zeigen */
    background-color: rgb(31, 29, 29);;
    
  }
  
  .left-container button {
    position: sticky; /* Positioniert den Button absolut */
    top: 0; /* Oben am Container */
    left: 0; /* Links am Container */
    width: 100%; /* Button nimmt die volle Containerbreite ein */
    padding: 12px 0; /* Gibt dem Button etwas Raum */
    cursor: pointer;
    background-color: rgb(31, 29, 29); /* Hintergrundfarbe des Buttons */
    color: white; /* Textfarbe des Buttons */
    border-color: #ffc7b1e7;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
  }
  
  /* Stellen Sie sicher, dass keine anderen Stile die Farbe oder den Hintergrund des .left-container überschreiben. */
  
  
  
  
  /* Stil für den FolderTree, wenn nötig */
  
  
  
  .text-box {
    display: flex; /* Aktiviert Flexbox */
    justify-content: flex-end; /* Positioniert den Inhalt am Ende der Hauptachse (rechts) */
    align-items: center; /* Zentriert den Inhalt entlang der Kreuzachse (vertikal) */
    width: 100%;
    border: 2px solid #ffc7b1e7;
    border-top-width: 0;
    padding: 10px;
    color: white;
    background-color: black;
  }
  
  .left--title {
    margin: 0;
    color: #61DAFB;
    font-size: 39px;
    letter-spacing: -0.05em;
  }
  
  .postCodeField {
    border: 1px solid #ffc7b1e7;
    margin: 50px;
    width: 80%;
    height: 400px;
    resize: both;
  }
  
  .upload-file-margin {
    margin-top: 80px;
  }
  
  .texthere {
    width: 100%;
    height: 200px;
    border: 1px solid #ffc7b1e7;
    background-color: rgb(4, 7, 18);
    text-align: left;
    line-height: 200px;
    color: white;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
  }
  
  .textFieldAfterCompletion {
    width: 490px;
    height: 300px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: auto;
    display: inline-block;
    position: relative;
    border: 1px solid #ffc7b1e7;
    background-color: rgb(4, 7, 18);
    text-align: left;
    color: white;
  }
  
  .highlightedContent {
    white-space: pre-wrap;
  }
  
  
  .output-box {
    border: 1px solid #ffc7b1e7;
    padding: 10px 40px;
    margin: 10px;
    color: white;
    background-color: rgb(4, 7, 18);
  }
  
  .upload-button-container {
    width: 100% ;
    color: pink;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Zentriert den Inhalt vertikal */
    align-items: center; /* Zentriert den Inhalt horizontal */
    padding-right: 20px;
    
   
  }

.reset-button-container {
  width: 100% ;
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert den Inhalt vertikal */
  align-items: center; /* Zentriert den Inhalt horizontal */
  padding-right: 20px;

}

  .picker {
    margin-right: 20px; /* Oder einen anderen Wert, um den gewünschten Abstand zu schaffen */
  }
  
  .folder-tree-container {
    margin-top: 1px; /* Setzen Sie den gewünschten Abstand */
    width : 100%;
  
  }