/* NAVBAR */
.nav {
  /* gesamte Navbar */
  display: flex;
  align-items: center;
  /* Zentriert die Inhalte vertikal */
  background-color: rgb(4, 7, 18);
  height: 120px;
  padding: 30px 0;
  width: 100%;
  border-bottom: 2px solid #ffc7b1e7;
  /* weißer horizontaler Strich */
  box-sizing: border-box;
}

.nav--logo_text {
  /* "ProRunVis" */
  margin-right: auto;
  color: #ffc7b1e7;
  font-weight: 700;
  font-size: 18px;
}

.nav--title {
  /* "visualize your flow" */
  color: #ffc7b1e7;
  font-weight: 600;
  margin-right: 50px;
}

.nav--help-button {
  background-color: #ffc7b1e7;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: auto;
  cursor: pointer;
}

.nav--icon {
  /* Logo */
  height: 50px;
  margin-right: 15px;
  margin-left: 20px;
}

/* Der Kasten, wenn man auf Help geklickt hat */
.modal-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.modal-close-button {
  background-color: #61DAFB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal-content {
  margin-top: 20px;
}


/* Left and Right Container */

/* overall */

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: stretch;
  
}

/* LeftComponent */
.left-container {
  display: flex;
  flex-direction: column; /* Stapelt die Kinder vertikal */
  align-items: stretch; 
  transition: width 0.3s ease;
  width: 280px;
  min-height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
  position: relative;
  border-right:2px solid #ffc7b1e7 ;
}
.left-container.collapsed {
  width: 10%; /* Breite, um nur den Button zu zeigen */
  
}

.left-container button {
  position: absolute; /* Positioniert den Button absolut */
  top: 0; /* Oben am Container */
  left: 0; /* Links am Container */
  width: 100%; /* Button nimmt die volle Containerbreite ein */
  padding: 10px 0; /* Gibt dem Button etwas Raum */
  cursor: pointer;
  background-color: black; /* Hintergrundfarbe des Buttons */
  color: white; /* Textfarbe des Buttons */
  border: none;
}

/* Stellen Sie sicher, dass keine anderen Stile die Farbe oder den Hintergrund des .left-container überschreiben. */




/* Stil für den FolderTree, wenn nötig */



.text-box {
  display: flex; /* Aktiviert Flexbox */
  justify-content: flex-end; /* Positioniert den Inhalt am Ende der Hauptachse (rechts) */
  align-items: center; /* Zentriert den Inhalt entlang der Kreuzachse (vertikal) */
  width: 100%;
  border: 2px solid #ffc7b1e7;
  padding: 10px;
  color: white;
  background-color: rgb(4, 7, 18);
}

.left--title {
  margin: 0;
  color: #61DAFB;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.postCodeField {
  border: 1px solid #ffc7b1e7;
  margin: 50px;
  width: 80%;
  height: 400px;
  resize: both;
}

.upload-file-margin {
  margin-top: 80px;
}

.texthere {
  width: 100%;
  height: 200px;
  border: 1px solid #ffc7b1e7;
  background-color: rgb(4, 7, 18);
  text-align: left;
  line-height: 200px;
  color: white;
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.textFieldAfterCompletion {
  width: 490px;
  height: 300px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: auto;
  display: inline-block;
  position: relative;
  border: 1px solid #ffc7b1e7;
  background-color: rgb(4, 7, 18);
  text-align: left;
  color: white;
}

.highlightedContent {
  white-space: pre-wrap;
}


.output-box {
  border: 1px solid #ffc7b1e7;
  padding: 10px 40px;
  margin: 10px;
  color: white;
  background-color: rgb(4, 7, 18);
}

.button-container {
  width: 100% ;
  color: pink;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert den Inhalt vertikal */
  align-items: center; /* Zentriert den Inhalt horizontal */
  padding-right: 20px;
  
 
}
.picker {
  margin-right: 20px; /* Oder einen anderen Wert, um den gewünschten Abstand zu schaffen */
}

.folder-tree-container {
  margin-top: 1px; /* Setzen Sie den gewünschten Abstand */
  width : 100%;

}


/* Right Component */




/* footer */


/* Right Component*/

.right-container {
  display: flex;
  flex-direction: column; /* Vertikale Ausrichtung der Kinder */
  justify-content: flex-start; /* Startet die Ausrichtung am Anfang des Containers */
  align-items: stretch; /* Streckt die Kinder, um die Breite des Containers zu füllen */
  flex: 3;
  flex-basis: 75%;
 
  min-height: 100vh;
  background-color:  rgba(0, 0, 0, 0.3);
  color: white;
  box-sizing: border-box;

}



.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 96%;
  flex-basis: 75%;
  margin-top : 0px;
  /* Korrigiert von 'right' zu 'flex-start' */
  
  /* Passt die Größe dynamisch an */
  box-sizing: border-box;
  min-height: 500px;
  /* Mindesthöhe */
  
  /* Angepasst für eine gleichmäßige Aufteilung */
  
  /* Zentriert den Container */
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  /* Für absolut positionierte Kinder */
}



.comment-container textarea {
  flex-grow: 1;
  /* Nimmt den verfügbaren Platz im Container ein */
  background-color: black;
  color: white;
  /* Für bessere Sichtbarkeit auf schwarzem Hintergrund */
  border: 1px solid;
  /* Optional: Entfernt den Standardrahmen */
  font-size: 16px;
}


.my-loop-decoration {
  background-color: pink;
  opacity: 0.7;
}

.my-glyph-margin-class {
  width: 4px;
  background-color: pink;
  margin-left: 4px;
}

.for-loop-decoration {
  position: absolute;
  border-left: 4px solid pink;
  margin-left: -50px;
}

.if-statement-decoration {
  position: absolute;
  border-left: 4px solid rgb(12, 158, 85);
  margin-left: -45px;
}

.else-statement-decoration {
  position: absolute;
  border-left: 4px solid rgb(237, 235, 240);
  margin-left: -40px;
}

.while-loop-decoration {
  position: absolute;
  border-left: 4px solid rgb(203, 229, 8);
  margin-left: -35px;
}

.begin-line-highlight {
  background-color: rgba(245, 10, 10, 0.3);
}

.my-line-numbers {
  color: red !important;
}

.monaco-editor.token.keyword {
  color: #C792EA;
  font-weight: bold;
}

.monaco-editor.token.function {
  color: #C3E88D;
}

.monaco-editor.token.type {
  color: #FFCB6B;
}

.monaco-editor.token.identifier {
  color: #D6DEEB;
}

.monaco-editor.token.string {
  color: #C3E88D;
}

.monaco-editor.token.number {
  color: #F78C6C;
}

.monaco-editor.token.operator {
  color: #89DDFF;
}

.monaco-editor.token.annotation {
  color: #82AAFF;
}

.monaco-editor.token.regex {
  color: #ECC48D;
}

.monaco-editor.token.delimiter {
  color: #89DDFF;
}

.monaco-editor.token.invalid {
  background-color: #FF5370;
  color: #ffffff;
}

.monaco-editor .monaco-editor-hover {
  z-index: 1000;
  position: fixed;
  visibility: visible;
}

.monaco-editor-hover .monaco-editor-hover-content {
  background-color: white;
  color: black;
  border: 1px solid grey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px;
}


.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}


.popup-content {
  position: absolute;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.nav2 {
  display: flex;
  align-items: center;
  /* Zentriert die Inhalte vertikal */
  background-color: rgb(4, 7, 18);
  height: 120px;
  padding: 30px 0;
  width: 100%;
  border-bottom: 2px solid #ffc7b1e7;
  /* weißer horizontaler Strich */
  box-sizing: border-box;
}

.nav2--logo_text {
  margin-right: auto;
  color: #ffc7b1e7;
  font-weight: 700;
  font-size: 22px;
}

.nav2--title {
  color: #ffc7b1e7;
  font-weight: 600;
  margin-right: 50px;
}

.nav2--help-button {
  background-color: #61DAFB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: auto;
  cursor: pointer;
}

.nav2--icon {
  height: 50px;
  margin-right: 15px;
  margin-left: 20px;
}

.popup {
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.footer2 {
  background-color: black !important;
  padding: 20px;
  text-align: center;
}


.solid-green-line-decoration {
  border-left: 2px solid rgb(0, 255, 115);
  margin-left: -35px;
}

.solid-red-line-decoration {
  border-left: 2px solid rgb(255, 0, 0);
  margin-left: -35px;
}


.green-glyph-decoration {
  content: '*';
  /* Unicode-Kugel-Symbol */
  color: green;
  /* Die Farbe des Symbols */
  margin-left: -25px;
  /* Platz rechts vom Symbol */
  font-size: 8px;
  /* Größe des Symbols */
}

.green-background-decoration {
  background-color: rgba(22, 250, 1, 0.2);
  /* Rot mit Transparenz */
}



.popup {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-close-button {
  /* Fügen Sie hier Ihren Stil für den Schließ-Button hinzu */
}

