
/* NAVBAR */

.nav {  /* gesamte Navbar */
  display: flex;
  align-items: center; /* Zentriert die Inhalte vertikal */
  background-color: rgb(4,7,18);
  height: 120px;
  padding: 30px 0;
  width: 100%;
  border-bottom: 2px solid #ffc7b1e7; /* weißer horizontaler Strich */
  box-sizing: border-box;
}

.nav--logo_text { /* "ProRunVis" */
  margin-right: auto;
  color: #ffc7b1e7;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {  /* "visualize your flow" */
  color: #ffc7b1e7;
  font-weight: 600;
  margin-right: 50px;
}

.modal-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.modal-close-button {
  background-color: #61DAFB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal-content {
  margin-top: 20px;
}

.nav--help-button {
  background-color: #61DAFB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: auto;
  cursor: pointer;
}

.nav--icon {  /* Logo */
  height: 50px;
  margin-right: 15px;
  margin-left: 20px;
}

/* LeftComponent */

.left-container {
  display:flex;
  flex-direction: column;
  align-items: right; /* aligns items right */
  justify-content: flex-start; 
  margin: 0;
  padding: 50px 27px; 
  min-height: 100vh;
  width: 33%;
  background-color: black;
  text-align: center;
  box-sizing: border-box;
}

.text-box{    /* Describing what the project is about */
  
  border: 1px solid #ffc7b1e7;
  padding: 10px;  
  margin: 10px;  
  margin-bottom: 25px; 
  color: white;
  background-color: rgb(4,7,18);
}

.left--title {
  margin: 0;
  color: #61DAFB;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.postCodeField{
  border: 1px solid #ffc7b1e7;
  margin: 50px;
  width: 80%;
  height: 400px;
  resize: both;
}

.upload-file-margin {
  margin-top: 80px;
}
.texthere { width: 100%; 
  height: 200px;
  border: 1px solid #ffc7b1e7;
  background-color: rgb(4,7,18);
  text-align: left; 
  line-height: 200px; 
  color: white;
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.textFieldAfterCompletion {
  width: 490px; 
  height: 300px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: auto;
  display: inline-block;
  position: relative;
  border: 1px solid #ffc7b1e7;
  background-color: rgb(4,7,18);
  text-align: left;
  color: white;
}

.highlightedContent {
  white-space: pre-wrap;
}
.white-text {
  color: white;
}

.output-box {
  border: 1px solid #ffc7b1e7;
  padding: 10px 40px; 
  margin: 10px;
  color: white;
  background-color: rgb(4, 7, 18);
}

/* footer */
